*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.wrapper{
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/bailey-zindel-NRQV-hBF10M-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.navbar{
    height: 80px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
}
.nav-logo{
    height: 80px;
    width: 140px; 
    /* padding: 20px 10px; */
    margin-left: 50px;
    position: absolute;

}
.navbar ul{
    float: right;
    margin-right: 20px;

}
.navbar ul li{
    list-style: none;
    margin: 0 8px;
    display: inline-block;
    line-height: 80px;
    
} 
.navbar ul li a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
    padding: 6px 13px;
    font-family: 'Roboto', sans-serif;
    transition: 0.4s;
    border-left: 2px solid black;
}
.navbar ul li a.active{
    border-left: none;
}
.navbar ul li a:hover{
    background-color: red;
}
.navbar ul li a.active,
.navbar ul li a:hover{
    background-color: red;
    border-radius: 5px;
    border-left: none;
    
}
.wrapper .center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    user-select: none;
}
.center h1{
    color: whitesmoke;
    font-size: 70px;
    font-weight: bolder;
    width: 1000px;
    text-align: center;
    font-variant: small-caps;
}
.center span{
    color: brown;
    font-style: italic;
}
.center h2{
    color: whitesmoke;
    font-size: 50px;
    font-weight: bolder;
    width: 900px;
    text-align: center;
    font-variant: small-caps;
    margin-top: 10px;
}

.center .button{
    margin: 35px 280px;
}
.button button{
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    color: #ffb3b3;
    background-color: red;
    border: 1px solid #cc0000;
    cursor: pointer;
    border-radius: 25px;
    transition: 0.5s;
}
.button .btn{
    margin-left: 25px;

}
.button button:hover{
    background: #cc0000;

}